<!DOCTYPE html>

<html>

    <head>
        <title>Calculator</title>
    </head>
    <body>
    	<h1>Welcome to Simple Calculator</h1>
        <form action="/" method="POST">
            <p>Enter a number:</p>
            <input type="text" name='num1'/>
            <p>Enter another number:</p>
            <input type="text" name='num2'/>
            <select name = "arth">
  				<option value="add">ADD</option>
  				<option value="subtract">SUBTRACT</option>
  				<option value="multiply">MULTIPLY</option>
  				<option value="divide">DIVIDE</option>
           	</select>
            <input type="submit" value = 'caluclate' />
        </form>
    </body>
</html>